[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/21tgk/
Environment="PYTHONPATH=/home/str/21tgk/"
ExecStart=/home/str/21tgk/.venv/bin/python /home/str/21tgk/bot_main.py

[Install]
WantedBy=multi-user.target